.env

.agents

# Virtual Environment
venv/
env/
ENV/
.venv/
virtualenv/

__pycache__/
*.pyc
.vscode/
logs/
data/
models/
outputs/
temp/
*.log
*.sqlite3
.DS_Store
.ipynb_checkpoints/
.cache/
.idea/
.node_modules
node_modules
node
npm
.claude
node_modules/

